@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600;700&display=swap");
/* UNIVERSAL */

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* ROOT FONT STYLES */

* {
  font-family: "Inter", sans-serif;
  color: #333447;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

/* START TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 500;
}

.font-medium {
  font-weight: 600;
}

.font-heavy {
  font-weight: 700;
}

.subtitle {
  font-size: 1rem;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.label {
  font-size: 0.7rem;
  margin: 0.5rem 0;
  display: block;
}

.smaller-text {
  font-size: 0.5em;
}

/* END TYPOGRAPHY */

/* ==== COLOR STYLE ==== */
.color-brand {
  color: #d39e6b;
}

.color-brand-hover {
  color: #e6b78c;
}

.accent-color {
  color: #fedb48;
}

.heading-color {
  color: #4e3a2f;
}

.text-color {
  color: #9d9d9d;
}

.bg-brand {
  background: #d39e6b;
}

.bg-brand-hover {
  background: #e6b78c;
}

.bg-accent {
  background: #fedb48;
}

.bg-danger {
  background: #dc3545;
}

.bg-success {
  background: #198754;
}

.bg-warning {
  background: #ffc108;
}

.bg-light {
  background: #f8f9fa;
}

.bg-dark {
  background: #212529;
}

/* ==== LIST STYLE ==== */
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

/* ==== FLEX STYLE ==== */
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-top {
  align-items: flex-start;
}

.align-bottom {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-beetwen {
  justify-content: space-between;
}

.justify-right {
  justify-content: flex-end;
}

/* ==== BUTTON SYSTEM ==== */

.btn-default {
  border: 0;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.125em;
  padding: 1.63rem 2.5rem;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(180deg, #ff974f 0%, #e27428 100%);
  width: fit-content;
}

.btn-mini {
  padding: 0.3rem 0.7rem;
  font-size: 0.6rem;
}

.btn-small {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.btn-regular {
  padding: 1rem 1.1rem;
  font-size: 1rem;
}

.btn-large {
  padding: 1.6rem 1.8rem;
  font-size: 1.2rem;
}

.btn-x-large {
  padding: 2.1rem 2rem;
  font-size: 1.5rem;
}

.btn-jumbo {
  padding: 2.4rem 2.2rem;
  font-size: 1.8rem;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* form default */

.form-default input {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  width: 100%;
  padding: 0.7rem 1rem;
}

.form-default .btn-default {
  padding: 1rem;
  width: 100%;
  display: block;
  border-radius: 5px;
  margin-top: 2rem;
}

/* ==== Navbar ==== */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  /* display: flex !important; */
  justify-content: center;
  align-items: center;
  text-align: right;
  padding-top: 0.7rem;
}

.mobile-menu {
  display: none;
}

#nav-toggle {
  display: flex;
  align-items: center;
}

.mobile-menu li a .icon {
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  overflow: hidden;
}

.mobile-menu li a {
  text-transform: capitalize;
}

.nav-bar {
  width: 100%;
  position: relative;
}

/* #nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 25px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
  background: linear-gradient(90.23deg, #70d7ff 5.42%, #44c0f0 92.66%);
} */

@media screen and (max-width: 999px) {
  .nav-mobile {
    display: block;
  }

  .nav-container .col-md-8,
  .nav-container .col-md-3 {
    display: none;
  }

  ul.mobile-menu {
    display: block;
    padding: 2rem 3rem;
    position: fixed;
    right: -500px;
    top: 0;
    width: 50%;
    height: 100vh;
    background: #2c2c2c;
    transition: all 300ms ease-in-out;
  }

  .open ul.mobile-menu {
    right: 0;
  }

  ul.mobile-menu li {
    display: block;
    padding: 1rem 0;
  }

  ul.mobile-menu li a {
    color: #fff;
  }

  ul.mobile-menu li {
    border-top: 1px solid #fff;
  }

  ul.mobile-menu li:nth-child(5),
  ul.mobile-menu li:nth-child(6) {
    border: 0;
  }
}

@media screen and (max-width: 650px) {
  ul.mobile-menu {
    right: -500px;
    top: 0;
    width: 75%;
  }
}
/* ==== GRID SYSTEM ==== */

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

.hidden-lg {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  /* .container {
    width: 80%;
  } */
}

@media only screen and (min-width: 45em) {
  /* 720px */
  /* .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  } */
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    /* width: 100%;
    max-width: 70rem;
    padding: 0 15px; */
  }
}

@media only screen and (min-width: 78em) {
  /* 1320 */
  .container {
    /* width: 100%;
    max-width: 82.5rem;
    padding: 0 15px; */
  }
}

/* ==== SLIDE STYLE ==== */
.heroimage {
  overflow: hidden;
}

/* ==== RESPONSIVE NAVBAR ==== */

@media screen and (max-width: 767px) {
  .nav-mobile {
    display: block;
  }
  header .nav-bar .nav-list {
    display: block;
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 40%;
    z-index: 9;
    transition: all 1s;
    background: #d39e6b;
    padding-top: 4rem;
  }

  header .nav-bar .nav-list li.logo {
    position: initial;
  }

  header .nav-bar .nav-list li.logo {
    position: initial;
  }

  header .nav-bar .nav-list li a {
    color: #eae1d0;
  }

  header .open ul#navbar {
    right: 0;
  }

  header .nav-bar .nav-list > li {
    display: block;
    border-bottom: 1px solid #e6b280;
  }

  .navbar-default {
    position: relative;
  }

  ul.nav-dropdown {
    position: relative;
    display: none;
    background: #c68e58;
  }

  ul.nav-dropdown li a {
    font-size: 0.9rem;
  }

  ul.nav-dropdown li {
    border: 0;
    background: transparent;
    padding-left: 1rem;
  }
}

/* ==== Grid System ==== */

/* desktop */

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media screen and (max-width: 480px) {
  /* .container {
    width: 100%;
    max-width: 450px;
    padding: 0 15px;
    margin: 0 auto;
  } */
}

@media screen and (max-width: 650px) {
  .col-xs-6 {
    max-width: 50%;
    width: 100%;
    padding: 0 15px;
  }

  .col-xs-12 {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    z-index: 9;
  }
  .row {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto;
    z-index: 9;
  }
  .col-sm-6 {
    max-width: 50%;
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .col-md-12 {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
  }

  .col-md-8 {
    max-width: 66.66666667%;
    width: 100%;
    padding: 0 15px;
  }
  .col-md-6 {
    max-width: 50%;
    width: 100%;
    padding: 0 15px;
  }

  .col-md-3 {
    width: 100%;
    max-width: 33.33333%;
    padding: 0 15px;
  }

  .col-md-4 {
    width: 100%;
    max-width: 25%;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .col-lg-6 {
    max-width: 50%;
    width: 100%;
    padding: 0 15px;
  }

  /* .col-lg-7{
    max-width: 14.285714%;
  } */
}
