/* Custom Style Header */

header {
  padding: 1.5rem;
  z-index: 99;
  position: relative;
}

.m-logo {
  display: none;
}

.navbar {
  display: flex;
  width: 100%;
}

.logo {
  max-width: 209px;
}

.logo img {
  width: 100%;
}

.menu li a {
  color: #fff;
  font-weight: 600;
}

ul.menu-left li {
  padding: 0 1rem;
}

ul.menu-left {
  width: 100%;
}

ul.menu-left li .badge {
  display: inline-block;
  padding: 0.2rem 0.7rem;
  border-radius: 20px;
  font-size: 0.625rem;
  color: #fff;
  background: linear-gradient(180deg, #2dccb3 0%, #2bbaa4 100%);
  text-transform: uppercase;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.menu-right {
  display: flex;
  justify-content: flex-end;
}

.menu-right li:last-child {
  padding-left: 2rem;
}

.btn-download {
  background: linear-gradient(180deg, #874fff 0%, #6f34ed 100%);
  color: #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.menu-right li a {
  text-transform: capitalize;
}

.menu-right li a .icon {
  padding-right: 0.5rem;
  padding-top: 0.4rem;
}

.menu-right li a {
  text-transform: capitalize;
}

.menu-right li a .icon {
  padding-right: 0.5rem;
  padding-top: 0.4rem;
}

ul.menu-left li:last-child img {
  /* padding-top: 1rem; */
  vertical-align: middle;
}

/* Custom style Heroimage */
.heroimage {
  background: url(../assets/hero.jpg);
  background-size: cover;
  position: relative;
  margin-top: -95px;
  padding-top: 2rem;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.heroimage:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.7) 0%, rgba(37, 37, 37, 0) 100%), linear-gradient(0deg, #0e0e0e, #0e0e0e); /* background: linear-gradient(180deg, rgba(37, 37, 37, 0.7) 0%, rgba(37, 37, 37, 0) 100%), url(image.png), #0E0E0E; */
  opacity: 0.9;
}

.heroimage .form-group {
  background: #fff;
  padding: 1.58rem;
  border-radius: 8px;
  margin-right: 1rem;
  width: 100%;
}

.heroimage .form-group input {
  width: 100%;
  padding-left: 1rem;
}

.heroimage .form-group input,
.heroimage .form-group select {
  border: 0;
  font-size: 1.125rem;
}

.heroimage .form-group .icon {
  vertical-align: middle;
  display: contents;
}

.heroimage .text h1,
.heroimage .text h3 {
  color: #fff;
}

.heroimage .form-search {
  padding-top: 3rem;
}

.heroimage .text h1 {
  padding-bottom: 0.4rem;
}

.heroimage .text h3 {
  opacity: 0.6;
}

.promotion-wrapper .left h1.big-text {
  color: #b0dbf3;
  font-family: "Iceland", cursive;
  font-size: 6rem;
  font-weight: 400;
  line-height: 5rem;
}

.promotion-wrapper .left {
  width: 70%;
}

.promotion-wrapper .right {
  width: 30%;
}

.promotion-wrapper {
  display: flex;
  align-items: center;
  background: #2184bc;
  padding: 2rem;
  border-radius: 8px;
  background-image: url(../assets/bg-promo.png);
  background-size: contain;
}

.promotion-wrapper .right .btn-yellow {
  display: flex;
  padding: 1.5rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #444444;
  background: linear-gradient(180deg, #ffed4f 0%, #e1d143 100%);
  margin-top: 3rem;
}

.promotion-wrapper .right .btn-yellow img {
  width: 16px;
  margin-left: 1rem;
}

.promotion-wrapper .right .btn-yellow .icon {
  padding-top: 0.44rem;
}

.star {
  background: url(../assets/star.png);
  width: 170px;
  height: 170px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotate(15deg);
  background-repeat: no-repeat;
}

.star .text-promotion h5 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #2c2c2c;
}

.star .text-promotion h6 {
  font-size: 2.9375rem;
  font-family: "IBM Plex Mono", monospace;
  line-height: 2.375rem;
  color: #2c2c2c;
}

.dark-content {
  background: #151515;
}

.content {
  padding: 4rem 0 6.25rem;
}

/* Top Section */
.small-card {
  display: flex;
}

.small-card .icon img {
  width: 60px;
}

.small-card .icon {
  background: #444444;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.small-card .text {
  max-width: 80%;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.text-with-badge {
  display: flex;
  align-items: center;
}

.text-with-badge .badge {
  padding: 0.2rem 0.7rem;
  border-radius: 3rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.625rem;
  margin-left: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  background: linear-gradient(180deg, #d4532a 0%, #bd4b27 100%);
}

.red-badge {
  background: linear-gradient(180deg, #d4532a 0%, #bd4b27 100%);
}

/* Category Section */

.content-section,
.top-section {
  padding: 3.25rem 0;
}

.content-section .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.9375rem 2.28125rem;
}

.content-section .title a {
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(180deg, #ff974f 0%, #e27428 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.125rem;
  text-transform: capitalize;
}

.content-section .title a .icon img {
  width: 10px;
}

.content-section .title a .icon {
  padding-left: 0.625rem;
  padding-top: 0.3rem;
}

.content-section .card-item .image img {
  width: 100%;
}

.card-item .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.4rem;
}

.card-item .desc .pricing {
  display: flex;
  align-items: center;
  background: #2c2c2c;
  padding: 0.66rem 0.7rem;
  border-radius: 8px;
}

.card-item .desc .pricing .price {
  text-decoration: line-through;
  font-size: 0.875rem;
  color: #fff;
  opacity: 0.7;
}

.content-section .card-item .desc p {
  padding: 0;
}

.card-item .desc .pricing .discount-price {
  padding-left: 0.5rem;
  font-weight: 600;
  background: -webkit-linear-gradient(180deg, #ff974f 0%, #e27428 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.request-section .image .main-image {
  width: 100%;
  position: relative;
}

.request-section .image {
  padding: 4rem 0 4rem 2.3rem;
  position: relative;
}

.request-section .image img {
  width: 102px;
  position: absolute;
}

.request-section .image .cubic {
  left: 0;
  bottom: 3.3rem;
}

.request-section .image .circle {
  right: 2rem;
  top: 0;
  width: 120px;
}

.request-section .text p {
  padding: 0.7rem 0 2rem;
}

.content-section.picks {
  padding-bottom: 7rem;
}

.footer-dark {
  background: #151515;
  padding-bottom: 3rem;
}

.footer-bottom ul li a {
  text-decoration: underline;
  padding-left: 4rem;
}

.footer-top .social {
  padding: 1.3rem 0;
}

.footer-top ul.items li {
  display: block;
  padding: 0.3rem 0;
}

.footer-top ul.items .title {
  color: #fff;
  font-weight: 700;
}

.footer-top ul.items li a {
  text-decoration: underline;
}

.footer-top ul.items {
  padding: 0 4rem;
}

.footer-top .social ul li img {
  width: unset;
  height: 1rem;
}

.footer-top .social ul li {
  padding-right: 0.8rem;
}

.footer-top {
  padding-bottom: 3rem;
}

.footer-top ul.grid {
  display: flex;
  justify-content: space-between;
}

.footer p,
.footer a {
  color: #fff;
  opacity: 0.7;
  font-weight: 300;
}

.footer-bottom {
  /* width: 100%;
  border-top: 1px solid #b7b7b7;
  padding-top: 1rem; */
}

.top-border {
  border-top: 1px solid #818181;
  padding-top: 1rem;
}

.request-section {
  padding-top: 3.125rem;
}

.request-section .btn-default {
  padding: 1rem 2rem;
}

.card-item {
  padding-bottom: 2rem;
}

.button-wrapper {
  text-align: center;
  padding: 2rem 0;
}

.button-wrapper .btn-default {
  padding: 1rem 2rem;
}

.image-item img {
  width: 100%;
}

.image-item {
  margin-bottom: 2rem;
}

/* Detail Assets */

.detail-section {
  padding-bottom: 0;
}

.card-detail ul li {
  padding-bottom: 2rem;
}

.card-detail ul li h3 {
  padding-bottom: 1rem;
}

.card-detail ul li h4 {
  opacity: 0.8;
}

.card-detail ul li ul.highlight li {
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
}

.card-detail ul li ul.highlight li h4 {
  padding-left: 0.5rem;
}

.card-detail ul li ul.highlight li .icon img {
  width: 20px;
}

.author {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.author .icon img {
  width: 12px;
}

.author .icon {
  width: 40px;
  height: 40px;
  background: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.author h4 {
  opacity: 0.8;
}

.hero-detail .detail-banner {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.hero-detail:before {
  content: "";
  z-index: 9;
}

.banner-text {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-top: 10rem;
}

.hero-detail {
  min-height: 40vh;
}

.stick {
  position: fixed;
  top: 0;
}

.cta .btn-default {
  padding: 1rem 2rem;
  margin-left: 1rem;
}

.cta .btn-default:first-child {
  background: linear-gradient(180deg, #2184bc 0%, #1b73a5 100%);
}

.banner-explore {
  background: #151515;
  text-align: center;
  height: 35vh;
  margin-top: -120px;
  padding-top: 13rem;
}

.banner-explore .title-banner {
  text-align: center;
  width: 100%;
}

.banner-explore .title-banner h2 {
  padding-bottom: 0.5rem;
}

.banner-explore .title-banner h4 {
  opacity: 0.8;
}

.filterAssets {
  display: none;
}

.show {
  display: block;
}

.category-bar {
  padding: 2rem 0.9375rem 0;
  width: 100%;
}

.category-bar .bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c2c2c;
  padding: 1rem;
  border-radius: 8px;
  white-space: nowrap;
  overflow: scroll;
  text-overflow: clip;
}

.category-bar .bars::-webkit-scrollbar {
  display: none;
}

.category-bar .bars .btn {
  background: transparent;
  border: 0;
  padding: 0;
  margin-right: 2.125rem;
  opacity: 0.8;
  font-size: 1.125rem;
  position: relative;
}

.category-bar .bars .btn.active:after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -26px;
  background: linear-gradient(180deg, #ff974f 0%, #e27428 100%);
}

.category-bar .bars .btn.active {
  opacity: 1;
}

.category-bar .bars .right li a .icon img {
  width: unset;
  height: 15px;
}

.category-bar .bars .right li a .icon {
  background: #121212;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.category-bar .bars .right li .select-custom {
  text-align: center;
  padding: 0.8rem 1.1rem;
  border-radius: 8px;
  background: #121212;
}

.category-bar .bars .right li select {
  background: transparent;
  font-size: 1.125rem;
  border: 0;
  border-radius: 8px;
}

.category-bar .bars .right li {
  padding-left: 1rem;
}

/* Dark Content */

.dark-content .content-section .title h2 {
  color: #fff;
}

.dark-content .small-card .text .text-with-badge p {
  color: #fff;
}

.dark-content .small-card .text > p {
  color: #fff;
  opacity: 0.7;
}

.dark-content .card-item p {
  color: #fff;
  padding-top: 0.5rem;
}

.rs-dark {
  background: linear-gradient(180deg, #2c2c2c 0%, #151515 100%);
}

.rs-dark .text p {
  color: #fff;
  opacity: 0.8;
}

.rs-dark .text h1 {
  color: #fff;
}

/* ============= Responsive ============= */

@media screen and (max-width: 1199px) {
  .logo {
    max-width: 143px;
  }

  .btn-download {
    padding: 0.625rem 0;
    text-align: center;
    max-width: 90%;
  }

  .menu-right li:last-child {
    padding-left: 1rem;
    align-items: center;
    display: flex;
  }

  .menu-right li a .icon img {
    width: 20px;
  }

  .heroimage {
    margin-top: -120px;
  }

  .promotion-wrapper .right {
    width: 45%;
  }

  .promotion-wrapper .left h1.big-text {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 999px) {
  .m-logo {
    display: block;
  }
  .nav-bar .nav-mobile img {
    width: 50%;
  }

  .nav-bar .m-logo img {
    width: 50%;
  }

  .nav-bar nav {
    width: 100%;
  }

  .heroimage {
    margin-top: -120px;
    padding: 10rem 0 5rem;
  }

  .heroimage .text h1 {
    text-align: center;
  }

  .heroimage .text h3 {
    text-align: center;
  }

  .promotion-wrapper .left h1.big-text {
    font-size: 6.5em;
    line-height: 5rem;
  }

  .promotion-wrapper {
    margin-top: 3rem;
  }

  .star {
    margin: auto;
  }

  .promotion-wrapper .right {
    width: 35%;
    text-align: center;
  }

  .custom-select {
    display: none;
  }

  .close img {
    width: 20px;
  }

  .close {
    text-align: right;
    padding: 1rem;
  }

  .small-card {
    margin: 1rem 0;
  }

  .small-card .text {
    max-width: 75%;
  }
  .top-section {
    padding: 0;
  }

  .hero-detail {
    padding-top: 5rem;
    min-height: 32vh;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .author {
    justify-content: flex-start;
  }

  .banner-text {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 650px) {
  .promotion-wrapper .left h1.big-text {
    font-size: 6em;
    line-height: 4.5rem;
  }
  .star {
    width: 130px;
    height: 130px;
  }
  .star .text-promotion h5 {
    font-size: 1.1rem;
  }
  .star .text-promotion h6 {
    font-size: 2.3rem;
    line-height: 2rem;
  }

  .promotion-wrapper .right {
    width: 30%;
  }

  .footer-top ul.grid {
    flex-wrap: wrap;
  }
  .footer-top ul.grid > li {
    width: 50%;
    padding-top: 2rem;
  }
  .footer-top ul.items {
    padding: 0;
  }

  .logo {
    max-width: 250px;
  }

  .card-item {
    padding-bottom: 1rem;
  }

  .custom-select {
    display: none;
  }

  .author {
    justify-content: flex-start;
    text-align: left;
  }

  .banner-text {
    flex-wrap: wrap;
    /* justify-content: center; */
  }

  .banner-text h1 {
    padding-bottom: 1rem;
  }

  .banner-text .cta button:first-child {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .promotion-wrapper .left {
    width: 65%;
  }

  .promotion-wrapper .left h1.big-text {
    font-size: 4em;
    line-height: 4rem;
  }

  .promotion-wrapper .right {
    width: 40%;
  }

  .request-section .btn-default {
    margin: 0 auto 3rem;
  }

  .request-section .text {
    text-align: center;
  }

  .footer p {
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  .promotion-wrapper .left h1.big-text {
    font-size: 2.5em;
    line-height: 2.5rem;
  }

  .star {
    width: 110px;
    height: 110px;
  }

  .promotion-wrapper .right .btn-yellow {
    margin-top: 1.5rem;
    padding: 0.5rem 0;
    font-size: 1rem;
  }

  .promotion-wrapper {
    padding: 1rem;
  }

  .promotion-wrapper .left {
    width: 55%;
  }

  .promotion-wrapper .right {
    width: 45%;
  }

  .star .text-promotion h6 {
    font-size: 2rem;
    line-height: 1.7rem;
  }

  .promotion-wrapper .right .btn-yellow img {
    width: 13px;
    margin-left: 0.5rem;
  }

  .promotion-wrapper .right .btn-yellow .icon {
    padding-top: 0.3rem;
  }

  .btn-default {
    padding: 1.63rem 1rem;
  }

  .request-section .btn-default {
    margin: 0 auto 4rem;
  }

  .request-section .text {
    text-align: center;
  }

  .request-section .text {
    text-align: center;
  }

  .request-section .image {
    padding: 0;
  }

  .request-section .image .circle {
    width: 71px;
    top: -2rem;
    right: 0.5rem;
  }

  .request-section .image .cubic {
    width: 60px;
    left: -14px;
    bottom: 0;
  }

  .top-border {
    padding-top: 1rem;
    flex-wrap: wrap;
  }

  .footer-bottom ul li a {
    padding-left: 0;
  }

  .footer-bottom ul li {
    padding-top: 1rem;
    display: block;
  }

  .top-border ul {
    display: block;
    width: 100%;
  }

  .banner-text .cta button:last-child {
    margin-left: 0;
    margin-top: 1rem;
  }
}
